$d-font-primary: "ArbFONTS-GE_SS";
$d-font-secondary: "GE_SS_Two";

$primary-color: #008451;
$primary-light: #f8f4f2;

$text-color: #8e8e8e;
$links-color: #54565a;
$custom-gray: #4a4a4a;

$shade: #edeae9;
$tint: #fdf5ef;

$white: #ffffff;
$black: #2c2e30;

$red: rgb(228, 82, 82);
$green: #6fd096;
$blue: #7ba8ff;

$transition: 0.2s ease-in-out;

$body-bg: #f8f8f8;
